<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>

  <script src="./js/vue.js"></script>
  <link rel="stylesheet" href="./css/element-ui/index.css">
  <link rel="stylesheet" href="./css/font-icon.css">
  <link rel="stylesheet" href="./css/index.css">
  <script src="./js/element-ui/index.js"></script>
  <script src="./js/element-ui/umd/locale/ja.js"></script>
  <script src="./js/axios.min.js"></script>
  <script src="./js/lodash.js"></script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-138136474-2"></script>
  <script src="./js/gtag.js"></script>
  <title>History Viewer</title>
</head>

<body>
  <div id="app">
    <div class="line"></div>

    <div v-if="displayItems.length === 0">
      <p style="width:224px;">let's go to the following website</p>
      <p><a href='https://avgle.com/' target='_blank'>avgle</a></p>
      <p><a href='https://www.analdin.com/' target='_blank'>analdin</a></p>
      <p><a href='https://jp.pornhub.com/video/search?search=porhub' target='_blank'>Pornhub</a></p>
      <p><a href='https://www.xvideos.com/' target='_blank'>XVIDEOS</a></p>
    </div>
    <div v-else>
      <el-tabs type="card" value="first" style="width:224px;">
        <!-- history data -->
        <el-tab-pane label="History" name="first">
          <div v-show="loading" class="loader">Now loading...</div>
          <div v-show="!loading" class="itemContainer"></div>
          <el-row>
            <el-col :span="24" v-for="(item, index) in displayItems" :key="`his-${index}`">
              <el-card :body-style="{ padding: '0px' }">
                <a :href='item.url' target='_blank'><img :src='item.imgUrl' class="image" width=224 height=126></a>
                <div class="bottom-content" style="padding: 10px;">
                  <a :href='item.url' target='_blank'><span class="title">{{ item.title }}</span></a>
                  <div class="bottom clearfix">
                    <!-- お気に入りボタン表示・非表示 -->
                    <div v-if="item.isShowBtn === true">
                      <time class="time">Last:{{ item.lastVisitDateTime }}</time>
                      <el-button v-on:click="addFavorite(index)" style="float: right" type="warning" size="mini" icon="el-icon-star-off"
                        round>Fav</el-button>
                    </div>
                    <div v-else>
                      <time class="time">Last:{{ item.lastVisitDateTime }}</time>
                      <el-button style="float: right" type="warning" size="mini" icon="el-icon-star-on" round disabled>Fav</el-button>
                    </div>
                  </div>
                </div>
              </el-card>
            </el-col>
          </el-row>
        </el-tab-pane>

        <!-- favorited data -->
        <el-tab-pane :label="`FAV(${favNum})`" name="second">
          <el-row>
            <el-col :span="24" v-for="(item, index) in displayFavorites" :key="`fav-${index}`">
              <el-card :body-style="{ padding: '0px' }">
                <a :href='item.url' target='_blank'><img :src='item.imgUrl' class="image" width=224 height=126></a>
                <div class="bottom-content" style="padding: 10px;">
                  <a :href='item.url' target='_blank'><span class="title">{{ item.title }}</span></a>
                  <div class="bottom clearfix">
                    <time class="time">Last:{{ item.lastVisitDateTime }}</time>
                    <el-button v-on:click="deleteFavorite(index)" style="float: right" type="info" size="mini" icon="el-icon-delete"
                      round>Delete</el-button>
                  </div>
                </div>
              </el-card>
            </el-col>
          </el-row>
        </el-tab-pane>
    </div>

    </el-tabs>
  </div>
  <script src="./js/vueData.js"></script>
</body>

</html>